server:
  port: 8081

spring:
  application:
    name: loginsystem

  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: postgres
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
